<div class="container">   
  <%= form_for @account, url: {action: :create} do |f| %>   
      <div>   
        <h3>Add a Account</h3>   
      </div>   
      <div>   
        <p>   
          <%= "<div>#{@account.errors.full_messages.first}</div>".html_safe if @account.errors.any? %>   
        <div>   
            <label>Account Name</label>   
              <%= f.text_field :name %>   
        </div>   
  
        <div>   
             <label>Bank</label>   
             <%= f.select(:bank, ['VCB', 'ACB', 'VIB']) %>
        </div>
         </p>   
      </div>   
      <div>   
        <%= link_to 'Back', { controller: 'accounts', action: 'index'} %>   
        <%= f.submit 'Create Account' %>   
      </div>   
  <% end %>   
</div>  